{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <table class="table">
        <thread>
                <td>Stock Symbol</td>
                <td>Bought or Sold</td>
                <td>Price</td>
                <td>Shares</td>

                <td></td>
        </thread>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["stock_symbol"] }}</td>
                <td>{{ transaction["bought_or_sold"] }}</td>
                <td>{{ transactions["price_per_share"] }}</td>
                <td>{{ transactions["shares"] }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
