{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table">
        <thread>
                <td>Stock Symbol</td>
                <td>Bought or Sold</td>
                <td>Price</td>
                <td>Shares</td>

                <td></td>
        </thread>
        {% for transaction in transactions %}
            <tr>
                <td>{{ stock["stock_symbol"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ stock["current_price"] }}</td>
                <td>{{ stock["total_holding"] }}</td>
            </tr>
        {% endfor %}

    </table>
    <table class="table">
        <thread>
            <td>Cash Available</td>
            <td>Grand Total (Cash + Value of Stocks)</td>
        </thread>
        <tr>
            <td>{{ cash_available }}</td>
            <td>{{ grand_total }}</td>
        </tr>
    </table>
{% endblock %}
