{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input name="confirmation" placeholder="Password" type="password">
        </div>
        <button type="submit">Register</button>
    </form>
{% endblock %}